:root {
    --primary-color: #FF7315;
    --bg-color: black;
    --text-color: #f0f0f5;
    --grey-color: #3A3535;
    --light-color: rgba(255, 255, 255, 0.05);
    --field-bg: #FDA65D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: linear-gradient(45deg, black, var(--grey-color));

    font-size: 1rem;
    color: var(--text-color);
}

.content {
    min-width: 30%;
    max-width: 50%;
    max-height: 100%;
    padding: 2rem;

    background: var(--light-color);
    overflow: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.break {
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.subtitle {
    text-align: center;
    margin-bottom: 1rem;
}

.fieldset {
    border: none;
}

.custom-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;

    color: var(--text-color);
    font-size: 1em;
}

.field input:focus,
.field input:checked+label,
.field select:focus,
.field textarea:focus {
    color: var(--bg-color);
    border-color: var(--text-color);
    background-color: var(--field-bg);
    transition: .3s;
}

.box-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

.custom-select {
    display: flex;
}

.textarea {
    width: 100%;
    height: 60px;
    padding: 0.5em;
    outline: none;
}

.rounded {
    border-radius: 5px;
}

.custom-checkbox {
    margin-right: 5px;
}

.custom-buttom {
    margin: 1rem auto auto;
    padding: 1rem;
    outline: none;
    border: none;

    background-color: var(--primary-color);
    min-width: 50%;
    cursor: pointer;

    font-size: 1rem;
    color: var(--text-color);
    transition: .3s;
}

.custom-buttom:hover {
    background: var(--field-bg);
}